verif/build
verif/xrun.*
verif/.simvision
verif/waves.shm
verif/*.diag
verif/expected.result
verif/mem_Q128_bottom.vmf
verif/tests/*/mem_Q128_bottom.vmf
verif/imc.log
verif/imc.key
verif/mdv.log
verif/xp_elab.log
verif/*.sdf.X
verif/sdf_annotation.log

verif/tests/*/*.dis
verif/tests/*/*.elf

expected.result

verif/azadi-new/
verif/azadi-new_old_working_design/
verif/azadi-new_rtl_1.3/
verif/ibex_dv_azadi_verify_old_flist.f
verif/random_tests/env/core/vendor/core_ibex/.bpad/
verif/random_tests/env/core/vendor/core_ibex/.simvision/
verif/random_tests/env/core/vendor/core_ibex/bpad_6271.err
verif/random_tests/env/core/vendor/core_ibex/hex.txt
verif/random_tests/env/core/vendor/core_ibex/hex_swerv.txt
verif/random_tests/env/core/vendor/core_ibex/important_signals.svcf
verif/random_tests/env/core/vendor/core_ibex/out/
verif/random_tests/env/core/vendor/core_ibex/riscv_dv_extension/__pycache__/
verif/random_tests/env/core/vendor/core_ibex/riscv_dv_extension/running_testlist.txt
verif/random_tests/env/core/vendor/core_ibex/simvision.svcf
verif/random_tests/env/core/vendor/core_ibex/simvision10085.diag
verif/random_tests/env/core/vendor/core_ibex/simvision12790.diag
verif/random_tests/env/core/vendor/core_ibex/simvision14804.diag
verif/random_tests/env/core/vendor/core_ibex/simvision16111.diag
verif/random_tests/env/core/vendor/core_ibex/simvision17016.diag
verif/random_tests/env/core/vendor/core_ibex/simvision19398.diag
verif/random_tests/env/core/vendor/core_ibex/simvision2.svcf
verif/random_tests/env/core/vendor/core_ibex/simvision20825.diag
verif/random_tests/env/core/vendor/core_ibex/simvision21104.diag
verif/random_tests/env/core/vendor/core_ibex/simvision22074.diag
verif/random_tests/env/core/vendor/core_ibex/simvision22886.diag
verif/random_tests/env/core/vendor/core_ibex/simvision23542.diag
verif/random_tests/env/core/vendor/core_ibex/simvision24056.diag
verif/random_tests/env/core/vendor/core_ibex/simvision24827.diag
verif/random_tests/env/core/vendor/core_ibex/simvision25610.diag
verif/random_tests/env/core/vendor/core_ibex/simvision26649.diag
verif/random_tests/env/core/vendor/core_ibex/simvision27240.diag
verif/random_tests/env/core/vendor/core_ibex/simvision27805.diag
verif/random_tests/env/core/vendor/core_ibex/simvision30359.diag
verif/random_tests/env/core/vendor/core_ibex/simvision30791.diag
verif/random_tests/env/core/vendor/core_ibex/simvision32171.diag
verif/random_tests/env/core/vendor/core_ibex/simvision6286.diag
verif/random_tests/env/core/vendor/core_ibex/simvision735.diag
verif/random_tests/env/core/vendor/core_ibex/simvision7557.diag
verif/random_tests/env/core/vendor/core_ibex/simvision8286.diag
verif/random_tests/env/core/vendor/core_ibex/simvision9875.diag
verif/random_tests/env/core/vendor/core_ibex/simvisionimportant_signals.svcf
verif/random_tests/env/core/vendor/core_ibex/xmsim_6271.err
verif/random_tests_old_working_verif/
verif/regr/